# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc
__pycache__

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE
CMakeLists.txt.user
/*.vscode

# build/install
/workdir
/scratch
build-*
install-*
build
install
CMakeCache.txt
CMakeFiles
*~

# timemory output
timemory-*-output
